image_dir=datasets/ILSVRC2015/Data

## vid,vid_det,vid_det_all,vid_val
ann_file=imagenet_%N%
## vid_det,vid_det_all
	### sampled_eq,ratio_1_10_random
	ann_suffix+=%N%

## 4_per_seq_random,8_per_seq_random,16_per_seq_random
ann_suffix+=%N%
##

%import% tf.cfg
