db_path=datasets/cityscapes
class_names_path='lists/classes/cityscapes.txt'
load_vid=1

rle.class_offset=100
rle.lengths_offset=300

## train
split_suffix='train'
## val
split_suffix='val'
## test
split_suffix='test'

## rfm
rle_from_mask=1
rle_to_json=0
##

%import% tf_seg.cfg
