coco=1
db_path=datasets/coco
class_names_path='lists/classes/coco.txt'
load_vid=0

rle.class_offset=100
rle.lengths_offset=300

## rfm
rle_from_mask=1
rle_to_json=0
##

seq_name=train2017
json_path=annotations/semantic_train2017.json
masks_path=annotations/semantic_train2017
### val
seq_name=val2017
json_path=annotations/semantic_val2017.json
masks_path=annotations/semantic_val2017
##

start_id=0

end_id=118286
## val
end_id=4999
##

## start
### irange(0,50000,100)
start_id=%N%

## end
### irange(0,50000,100)
end_id=%N%
##

%import% tf_seg.cfg
