image_dir=datasets/ILSVRC2015/Data
class_names_path=lists/classes/imagenet_vid.txt

## vid
ann_file=imagenet_vid
## vid_val
ann_file=imagenet_vid_val
##

## 4_per_seq_random_len_2,8_per_seq_random_len_2,24_per_seq_random_len_2
ann_suffix+=%N%
##

%import% tf_vid.cfg


